{% extends "base.html" %}
        {% block title %} {{ title }} {% endblock title %}
        {% block header %}
            <ul>
                {% for prod in products %}
                    <li>
                    <a href="{% url 'product' prod.pk %}">{{ prod.name }}</a>
                    <p>Количество: <a href="{% url 'cart_delete' prod.pk %}"> - </a> {{prod.count}} <a href="{% url 'cart_add' prod.pk %}"> + </a><p/>
                    <p>Цена за единицу: {{prod.price}}<p/>
                    <p>Общая цена: {{prod.price_all}}<p/>
                    </li>
                        {% empty %}
                    <li>Нет товаров</li>
                {% endfor %}
                <p>Итоговая цена: {{total_price}}</p>
                <a href="{% url 'buy_products' %}">Купить</a>
            </ul>
        {% endblock header %}
